<h3>Bathrooms!</h3>

<table>
  <thead>
    <tr>
      <th>
        Mens
      </th>
      <th>
        Womens
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        241
      </td>
      <td>
        213
      </td>
    </tr>
  </tbody>
</table>
