
<section>
  <h3>Outside</h3>
  <aside class='weather-module'>
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat=38.9059&lon=-77.0441&name=&color=#6fbbb7"> </iframe>
  </aside>
</section>
